﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>d3-author2</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/app.js"></script></body>
</html>