﻿<template>
    <textarea ref="textarea" class="form-control text-box"
        v-bind:value="value" v-on:change="$emit('change', $event.target.value)"
        v-on:keyup="onKeyup"></textarea>
</template>

<script lang="ts">
import AutosizeTextarea from './AutosizeTextarea.ts'
export default AutosizeTextarea
</script>

<style scoped>
textarea.text-box {
    height: 42px;
    width: 100%;
    resize: none;
    overflow:hidden;
    display:block;
    border-radius:5px;
    padding: 10px;
    box-sizing: content-box;
}
</style>
