<template>
    <div>
        <div class="form-group" v-for="(candidate, index) in candidateList" v-bind:key="candidate.id">
            <div class="example-row" v-bind:class="{ 'selected-row': index === editSelectedIndex }">
                <label class="col-sm-1 control-label">{{index+1}}</label>
                <div class="col-sm-8">
                    <autosize-textarea v-model="candidate.value"></autosize-textarea>
                </div>
                <div class="col-sm-1 short-button">
                    <i class="glyphicon glyphicon-floppy-save" aria-hidden="true" title="Save" v-on:click.stop.prevent="saveCandidate(type, candidate, index)"></i>
                </div>
                <div class="col-sm-1 short-button">
                    <click-confirm>
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" v-on:click="deleteCandidate(verb, type, candidate, index)"></i>
                    </click-confirm>
                </div>
                <div class="col-sm-1 short-button">
                    <click-confirm :messages="{ title: 'Making selection will save all the changes made to the entries.', yes: 'OK', no: 'Cancel' }">
                        <input name="best-choice" :value="index" type="radio" v-model="editSelectedIndex" :disabled="!candidate.created" v-on:change="selectCandidate(verb, type, candidateList, editSelectedIndex)" />
                    </click-confirm>
                </div>
            </div>
            <div v-for="(comment, commentIndex) in commentsList[candidate.id]" v-bind:key="commentIndex">
                <div class="col-sm-1 col-sm-offset-2">
                    <div>
                        <i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
                        &nbsp;{{comment.author}}
                    </div>
                    <div class="timestamp" v-if="comment.updated">{{convertUtcToLocal(comment.updated)}}</div>
                </div>
                <div class="col-sm-6">
                    <textarea class="form-control" v-model="comment.value"></textarea>
                </div>
                <div class="col-sm-1 tall-button">
                    <i class="glyphicon glyphicon-floppy-save" aria-hidden="true" title="Save comment" v-on:click.stop.prevent="saveComment(comment, commentIndex)"></i>
                </div>
                <div class="col-sm-1 tall-button">
                    <click-confirm>
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete comment" v-on:click="deleteComment(comment, commentIndex)"></i>
                    </click-confirm>
                </div>
            </div>
        </div>
        <div class="add-buttons">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Add comment" v-on:click.stop.prevent="addComment()" :disabled="!canAddComments">
                <i class="glyphicon glyphicon-plus menu-icon blue-icon" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Add item" v-on:click.stop.prevent="addCandidate()">
                <i class="glyphicon glyphicon-plus menu-icon red-icon" aria-hidden="true"></i>
            </button>
        </div>
        <alert v-show="$store.state.showSaveCompleteAlert" placement="top-right" type="success" width="400px" dismissable>
            <span class="icon-info-circled alert-icon-float-left"></span>
            <strong>Save complete</strong>
            <p>The item has been successfully saved.</p>
        </alert>
        <alert v-show="noneSelected()" placement="top" type="danger" width="400px" dismissable>
            <span class="icon-info-circled alert-icon-float-left"></span>
            <strong>No entry selected</strong>
            <p></p>
        </alert>
    </div>
</template>

<script lang="ts">
import CandidatesEditor from './CandidatesEditor.ts'
export default CandidatesEditor
</script>

<style scoped>
input {
    max-width: 800px;
}

.add-buttons {
    width: 100%;
    margin-bottom: 50px;
}

.add-buttons .menu-icon {
    margin: 0 5px;
}

.blue-icon {
    color: blue;
}

.red-icon {
    color: red;
}

.selected-row {
    background-color: #e6f5ff;
}

.example-row {
    overflow: auto;
    padding: 4px 0;
}

.short-button {
    line-height: 34px;
}

.tall-button {
    line-height: 54px;
}

.timestamp {
    font-size: 0.9em;
}
</style>
