﻿<template>
    <form class="form-horizontal">
        <div>
            <div class="form-group heading">
                <div class="col-sm-2">
                    <span class="label label-primary font-size-100">{{verb.value}}</span>
                </div>
                <div class="col-sm-3 structure">
                    <span class="label label-default font-size-100">
                        This entry has been completed. Dropping the stage will reset the final checks.
                    </span>
                </div>
                <div class="col-sm-3 form-group" v-bind:class="{invisible: verb.stage === 10}">
                </div>
                <div class="stage col-sm-3 form-group">
                    <stage-selector :verb="verb" />
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" :disabled="!$store.getters.canSave" v-on:click.stop.prevent="onSaveButtonClick()">Save</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
import CompletedPanel from './CompletedPanel.ts'
export default CompletedPanel
</script>

<style scoped>
.invisible {
    visibility: hidden;
}

.heading {
    margin-top: 10px;
}

.example-container {
    margin-bottom: 5px;
}

.example-box {
    height: 80px;
    padding: 5px;
}

div.example-box {
    border: 1px solid rgb(169, 169, 169);
}

div.jp-example-box {
    border-bottom: none;
}

div.suggestion-box {
    border-top: none;
}

textarea {
    resize: none;
    width: 100%;
    max-width: none;
    display: block; /* removes bottom margin */
}

.suggestion {
    border-top: none;
}

select {
    width: 150px;
}

.font-size-100 {
    font-size: 100%;
    /* overriding 75% in label */
}

.no-example-selected {
    font-style: italic;
    color: crimson;
}
</style>
