<template>
  <div>
    <label class="label label-default">作成</label>
    <span class="staff-selector" v-for="member in enMembers" v-bind:key="member.userId">
      <label>
        <input type="radio" :name="authorInputName" :id="member.userId" :value="member.userId" v-model="verb.enAssigneeId" />
        {{member.displayName}}
      </label>
    </span>
    &nbsp;
    <label class="label label-default">確認</label>
    <span class="staff-selector" v-for="member in enManagers" v-bind:key="member.userId">
      <label>
        <input type="radio" :name="checkerInputName" :id="member.userId" :value="member.userId" v-model="verb.enCheckerId" />
        {{member.displayName}}
      </label>
    </span>
    <button class="btn btn-primary btn-xs" @click="updateEntry(verb)">Save</button>
  </div>
</template>

<script lang="ts">
import EnAssigneeSelector from './EnAssigneeSelector.ts'
export default EnAssigneeSelector
</script>

<style scoped>
.staff-selector {
  margin: 2px 4px;
}

.stage {
  margin-bottom: 20px;
}

.input-combo {
  margin-left: 20px
}

input [type="text"] {
  width: 400px;
  margin-left: 0px;
}

select {
  width: 200px;
}

textarea {
  width: 400px;
}

.grouping {
  display: inline-block;
  width: 33%;
}
</style>
