﻿<template>
  <form class="form-horizontal">
    <div>
      <div class="form-group heading">
        <div class="col-sm-2"><span class="label label-primary font-size-100">{{verb.value}}</span></div>
        <div class="col-sm-3 structure"><span class="label label-default font-size-100">{{verb.structure}}</span></div>
        <div class="col-sm-2">{{verb.englishIndex}}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Full sentence definition: </label><div class="col-sm-6 control-text">{{fsd}}</div>
      </div>
      <h4>
        <span class="label label-primary jp-example" v-html="jpExamples && jpExamples.list && jpExamples.list[jpExamples.selectedIndex] ? jpExamples.list[jpExamples.selectedIndex].value : ''">
        </span>
      </h4>
      <sentence-editor :index="index" :lang="2" :verbId="verbId" :stage="stage" :localId="localId"
                       :examples="examples"
                       :comments="$store.state.comments">
      </sentence-editor>
</div>
  </form>
</template>

<script lang="ts">
    import EnExampleView from './EnExampleView.ts'
    export default EnExampleView
</script>

<style scoped>
  .control-text {
    padding-top: 7px; /* to align with 'control-label' */
  }
  
  .heading {
    margin-top: 5px;
  }

  .font-size-100 {
    font-size: 100%; /* overriding 75% in label */
  }

  .jp-example {
    padding-top: 14px;
  }
</style>
