<template>
  <form class="form-horizontal">
    <div>
      <button tyep="button" class="delete-button btn btn-warning" v-on:click.stop.prevent="deleteEntry(verb, index)">削除</button>&nbsp;
      <label>選択中の項目を削除します。</label>
    </div>
    <hr />
    <div>
      <button type="button" class="copy-button btn btn-info" v-on:click.stop.prevent="cloneEntry(verb, index)">複製</button>&nbsp;
      <label>選択中の項目を下の設定で複製します。</label>
    </div>

    <div class="form-group">
      <div class="col-sm-6"><label>提示文</label></div>
      <div class="col-sm-1"><label>複製元</label></div>
      <div class="col-sm-1"><label>複製先</label></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">#1: <span v-html="getExampleText(0)"></span></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(0) == null" v-model="keepExampleSrc[0]" /></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(0) == null" v-model="keepExampleDst[0]" /></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">#2: <span v-html="getExampleText(1)"></span></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(1) == null" v-model="keepExampleSrc[1]" /></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(1) == null" v-model="keepExampleDst[1]" /></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">#3: <span v-html="getExampleText(2)"></span></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(2) == null" v-model="keepExampleSrc[2]" /></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(2) == null" v-model="keepExampleDst[2]" /></div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">#4: <span v-html="getExampleText(3)"></span></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(3) == null" v-model="keepExampleSrc[3]" /></div>
      <div class="col-sm-1"><input type="checkbox" :disabled="getExample(3) == null" v-model="keepExampleDst[3]" /></div>
    </div>
  </form>
</template>

<script lang="ts">
    import EntryEditor from './EntryEditor.ts'
    export default EntryEditor
</script>

<style scoped>
.stage {
  margin-bottom: 20px;
}
.input-combo {
  margin-left: 20px
}
input {
  margin-left: 0px;
}

select {
  width: 200px;
}
textarea {
  width: 400px;
}

.grouping {
  display: inline-block;
  width: 33%;
}
</style>
