﻿<template>
    <form class="form-horizontal">
        <div class="form-group">
            <table class="table table-bordered">
                <tbody>
                <tr v-for="(pair, index) in Examples" v-bind:key="index">
                    <td class="col-sm-6" v-bind:class="{ 'no-example-selected' : !pair || !pair[0] }"
                        v-html="pair && pair[0] ? pair[0].value : 'No example selected'"></td>
                    <td class="col-sm-6" v-bind:class="{ 'no-example-selected' : !pair || !pair[1] }"
                        v-html="pair && pair[1] ? pair[1].value : 'No example selected'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</template>

<script lang="ts">
import ExampleMapView from './ExampleMapView.ts'
export default ExampleMapView
</script>

<style scoped>
div.example-box {
    border: 1px solid #ccc;
    border-radius:5px;
    padding: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.no-example-selected {
    font-style: italic;
    color: crimson;
}
</style>
