﻿<template>
    <form class="form-horizontal">
        <div>
            <div class="form-group heading">
                <div class="col-sm-2">
                    <span class="label label-primary font-size-100">{{verb.value}}</span>
                </div>
                <div class="col-sm-3 structure">
                    <span class="label label-default font-size-100">{{verb.structure}}</span>
                </div>
                <div class="col-sm-3 form-group" v-bind:class="{invisible: verb.stage === 10}">
                    <turn-selector :verb="verb" v-model="currentTurn"></turn-selector>
                </div>
                <div class="stage col-sm-3 form-group">
                    <stage-selector :verb="verb" />
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" :disabled="!$store.getters.canSave" v-on:click.stop.prevent="onSaveButtonClick()">Save</button>
                </div>
            </div>
            <div class="col-sm-offset-2">
                <div class="form-group">
                    <label class="col-sm-3">
                        <input type="checkbox" v-model="$store.state.finalCheckList.kanji" />&nbsp;漢字
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">
                        <input type="checkbox" v-model="$store.state.finalCheckList.englishIndex" />&nbsp;English Index
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">
                        <input type="checkbox" v-model="$store.state.finalCheckList.link1" />&nbsp;自他対応
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">
                        <input type="checkbox" v-model="$store.state.finalCheckList.link2" />&nbsp;同義異格配列
                    </label>
                </div>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
import FinalCheckList from './FinalCheckList.ts'
export default FinalCheckList
</script>

<style scoped>
.invisible {
    visibility: hidden;
}

.heading {
    margin-top: 10px;
}

.example-container {
    margin-bottom: 5px;
}

.example-box {
    height: 80px;
    padding: 5px;
}

div.example-box {
    border: 1px solid rgb(169, 169, 169);
}

div.jp-example-box {
    border-bottom: none;
}

div.suggestion-box {
    border-top: none;
}

textarea {
    resize: none;
    width: 100%;
    max-width: none;
    display: block; /* removes bottom margin */
}

.suggestion {
    border-top: none;
}

select {
    width: 150px;
}

.font-size-100 {
    font-size: 100%;
    /* overriding 75% in label */
}

.no-example-selected {
    font-style: italic;
    color: crimson;
}
</style>
