﻿<template>
  <form class="form-horizontal">
    <div>
      <div class="form-group heading">
        <div class="col-sm-2"><span class="label label-primary font-size-100">{{verb.value}}</span></div>
        <div class="col-sm-3 structure"><span class="label label-default font-size-100">{{verb.structure}}</span></div>
        <div class="col-sm-2">{{verb.englishIndex}}</div>
      </div>
      <div class="form-group" v-if="fsd">
        <label class="col-sm-3 control-label">Full sentence definition: </label><div class="col-sm-6 control-text">{{fsd.value}}</div>
      </div>
      <example-map-view :index="index" :verb="verb"></example-map-view>
      <candidates-editor :verb="verb" :stage="stage" :type="'FullSentenceDefinition'"
                         :candidates="$store.state.candidates" :comments="$store.state.comments">
      </candidates-editor>
    </div>
  </form>
</template>

<script lang="ts">
    import FullSentenceDefinitionView from './FullSentenceDefinitionView.ts'
    export default FullSentenceDefinitionView
</script>

<style scoped>
  .control-text {
    padding-top: 7px; /* to align with 'control-label' */
  }
  
  .heading {
    margin-top: 5px;
  }

  .font-size-100 {
    font-size: 100%; /* overriding 75% in label */
  }
</style>
