﻿<template>
    <div class="header-bar">
        <div class="header-title">Don 動詞どん</div>
        <div class="logout">
            <button @click="logout" class="btn btn-primary">Logout</button>
        </div>
        <div class="user">
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>&nbsp;{{$store.state.currentUser.username}}
        </div>
        <div class="dropdown menu-icon">
            <span id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="glyphicon glyphicon-menu-hamburger menu-icon" aria-hidden="true"></i>
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <router-link to="/UploadExcelFile" tag="a">
                        Admin Page
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
import HeaderBar from './HeaderBar.ts'
export default HeaderBar
</script>

<style scoped>
.header-title {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.menu-icon {
    display: inline-block;
    color: white;
    float: right;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    margin: 0 10px;
}

.logout {
    float: right;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    margin: 0 10px;
}

.header-bar {
    background-color: #062F4F;
    width: 100%;
    height: 50px;
    padding: 4px 0;
}

.user {
    display: inline-block;
    color: white;
    float: right;
    height: 40px;
    line-height: 40px;
}
</style>
