<template>
  <div>
    <label class="label label-default">作成</label>
    <span class="staff-selector" v-for="member in jpMembers" v-bind:key="member.userId">
      <label>
        <input type="radio" :name="authorInputName" :id="member.userId" :value="member.userId" v-model="verb.jpAssigneeId" />
        {{member.displayName}}
      </label>
    </span>
    &nbsp;
    <label class="label label-default">確認</label>
    <span class="staff-selector" v-for="member in jpManagers" v-bind:key="member.userId">
      <label>
        <input type="radio" :name="checkerInputName" :id="member.userId" :value="member.userId" v-model="verb.jpCheckerId" />
        {{member.displayName}}
      </label>
    </span>
    <button class="btn btn-primary btn-xs" @click="updateEntry(verb)">Save</button>
  </div>
</template>

<script lang="ts">
import JpAssigneeSelector from './JpAssigneeSelector.ts'
export default JpAssigneeSelector
</script>

<style scoped>
.staff-selector {
  margin: 2px 4px;
}

.stage {
  margin-bottom: 20px;
}

.input-combo {
  margin-left: 20px
}

input [type="text"] {
  width: 400px;
  margin-left: 0px;
}

select {
  width: 200px;
}

textarea {
  width: 400px;
}

.grouping {
  display: inline-block;
  width: 33%;
}
</style>
