﻿<template>
  <form class="form-horizontal">
    <div>
      <div class="form-group heading">
        <div class="col-sm-2">
          <span class="label label-primary font-size-100">{{verb.value}}</span>
        </div>
        <div class="col-sm-3 structure">
          <span class="label label-default font-size-100">{{verb.structure}}</span>
        </div>
        <div class="col-sm-2">{{verb.englishIndex}}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Representative examples: </label>
        <div class="col-sm-6 control-text">{{verb.representativeExample}}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">提示文作成者への注意事項: </label>
        <div class="col-sm-6 control-text">{{verb.noteForExampleAuthor}}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">使い方メモ<br />(本の備考欄用): </label>
        <div class="col-sm-6 control-text">{{verb.generalNotes}}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Full sentence definition: </label>
        <div class="col-sm-6 control-text">{{verb.fullSentenceDefinition}}</div>
      </div>
      <sentence-editor :index="index" :lang="1" :verbId="verbId" :stage="stage" :localId="localId" :examples="examples" :comments="$store.state.comments">
      </sentence-editor>
    </div>
  </form>
</template>

<script lang="ts">
import JpExampleView from './JpExampleView.ts'
export default JpExampleView
</script>

<style scoped>
.control-text {
  padding-top: 7px;
  /* to align with 'control-label' */
}

.heading {
  margin-top: 5px;
}

.font-size-100 {
  font-size: 100%;
  /* overriding 75% in label */
}
</style>
