<template>
  <div class="container" id="app">
    <form class="login-form" @submit.prevent="login">
      <h3 class="welcome">Welcome to Don動詞どん</h3>
      <p class="error" v-if="formError">{{ formError }}</p>
      <p>Username: <input type="text" class="form-control" v-model="formUsername" name="username" /></p>
      <p>Password: <input type="password" class="form-control" v-model="formPassword" name="password" /></p>
      <button type="submit" class="btn btn-primary" :disabled="authenticating">Login</button>
    </form>
  </div>
</template>


<script lang="ts">
import Login from './Login.ts'
export default Login
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 10px;
  padding: 0 20px;
}

.login-form {
  width: 300px;
  margin: 0 auto;
}
</style>
