<template>
  <div class="container" id="app">
      <header-bar></header-bar>
      <verb-list  class="verbList" :verbs="$store.state.verbs"></verb-list>
  </div>
</template>

<script lang="ts">
import MainView from './MainView.ts'
export default MainView
</script>

<style>
.modal-open {
  overflow:hidden;
  overflow-y:scroll;
  padding-right:0 !important;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 10px;
  padding: 0 20px;
}

.login-form {
  width: 300px;
  margin: 0 auto;
}
</style>
