<template>
    <div>
        <div class="message-list">
            <div class="message-container" v-bind:class="{ 'unread-message': !editable && messageUnread(message) }" v-for="(message, index) in messages" v-bind:key="index">
                <div class="message-heading">
                    {{message.user}} ({{getTimestamp(message)}})
                    <span v-if="editable && !message.created" class="pull-right">
                        <click-confirm>
                            <button class="btn btn-xs remove-message-button" @click="removeMessage(index)">
                                <i class="glyphicon glyphicon-remove menu-icon" aria-hidden="true"></i>
                            </button>
                        </click-confirm>
                    </span>
                </div>
                <div>{{message.content}}</div>
            </div>
        </div>
        <div v-if="editable">
            <div class="add-button">
                <button class="btn btn-xs pull-right" :disabled="editingMessage" @click="startEditing()">
                    <i class="glyphicon glyphicon-plus menu-icon" aria-hidden="true"></i>
                </button>
            </div>
            <div v-if="editingMessage">
                <textarea class="col-sm-9 message-box" v-model="messageContent"></textarea>
                <div>
                    <button class="btn btn-xs submit-message-action-button" :disabled="!(messageContent.trim())" @click="addMessage()">
                        <i class="glyphicon glyphicon-ok menu-icon" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-xs submit-message-action-button" @click="hideMessageBox()">
                        <i class="glyphicon glyphicon-remove menu-icon" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import MessageView from './MessageView.ts'
export default MessageView
</script>

<style scoped>
.message-list {
    width: 372px;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
}

.message-container {
    border: 1px solid #ccc;
    width: 355px;
    border-radius: 4px;
    padding: 5px;
}

.message-heading {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.add-button {
    margin-top: 5px;
}

.message-box {
}

.message-action-button {
    margin-bottom: 12px;
}

.unread-message {
    color: #5CB85C;
}
</style>
