<template>
    <popper v-if="numOfUnreadMessages > 0" trigger="click" :options="{ placement: 'left' }">
        <div class="popper">
            <div class="message-view">
                <message-view :verb="verb" :editable="false"></message-view>
            </div>
            <button class="btn btn-success" @click="confirmRead($event)" title="Mark as read">
                <i class="glyphicon glyphicon-ok menu-icon" aria-hidden="true"></i>
            </button>
        </div>

        <button class="btn btn-default btn-xs" slot="reference" ref="message-button">
            <i class="glyphicon glyphicon-comment menu-icon" aria-hidden="true"></i>
            <span class="badge message-badge">{{numOfUnreadMessages}}</span>
        </button>
    </popper>
</template>

<script lang="ts">
import MessagePopover from './MessagePopover.ts'
export default MessagePopover
import 'vue-popperjs/dist/css/vue-popper.css'
</script>

<style scoped>
.message-view {
    text-align: left;
}

.message-badge {
    background-color: #FA3E3E;
}
</style>
