<template>
  <div>
    <span class="staff-selector" v-for="member in managers" v-bind:key="member.userId">
      <label>
        <input type="radio" :name="verb.id" :id="member.userId" :value="member.userId" v-model="verb.refAssigneeId" />
        {{member.displayName}}
      </label>
    </span>
    <button class="btn btn-primary btn-xs" @click="updateEntry(verb)">Save</button>
  </div>
</template>

<script lang="ts">
import ReferenceBookNoteAssigneeSelector from './ReferenceBookNoteAssigneeSelector.ts'
export default ReferenceBookNoteAssigneeSelector
</script>

<style scoped>
.staff-selector {
  margin: 2px 4px;
}

.stage {
  margin-bottom: 20px;
}

.input-combo {
  margin-left: 20px
}

input [type="text"] {
  width: 400px;
  margin-left: 0px;
}

select {
  width: 200px;
}

textarea {
  width: 400px;
}

.grouping {
  display: inline-block;
  width: 33%;
}
</style>
