<template>
    <form class="form-horizontal">
        <div class="form-group heading">
            <div class="col-sm-offset-1 col-sm-1">
                <label>Stage</label>&nbsp;<span class="stage label label-info">{{verb.stage}}</span>
            </div>
            <div class="col-sm-3">
                <span class="label label-default font-size-100" v-if="verb.stage===10">
                    This entry has been completed. Dropping the stage will reset the final checks.
                </span>
            </div>
            <div class="col-sm-offset-5 col-sm-2">
                <button class="save-button btn btn-primary" :disabled="!$store.getters.canSave" v-on:click.stop.prevent="updateEntry(verb)">Save</button>
            </div>
        </div>
        <div class="form-group" style="clear:both">
            <label class="col-sm-2 control-label">Entry word</label>
            <input class="col-sm-3 form-control" v-model="verb.value" />
            <label class="col-sm-2 control-label">Partial order</label>
            <input class="col-sm-3 form-control" v-model="verb.localIndex" />
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">自他対応</label>
            <multiselect
                class="grouping" v-model="links1" :multiple="true" :options="msoptions"
                :custom-label="customLabel" :searchable="true" :close-on-select="false"
                :show-labels="false" placeholder="Pick a value" :loading="isVerbsLoading"
                @search-change="asyncFindVerb">
            </multiselect>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">同義異格配列</label>
            <multiselect
                class="grouping" v-model="links2" :multiple="true" :options="msoptions"
                :custom-label="customLabel" :searchable="true" :close-on-select="false"
                :show-labels="false" placeholder="Pick a value" :loading="isVerbsLoading"
                @search-change="asyncFindVerb">
            </multiselect>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Structure</label>
            <input class="col-sm-3 form-control" v-model="verb.structure" />
            <label class="col-sm-2 control-label">English index</label>
            <input class="col-sm-3 form-control" v-model="verb.englishIndex" />
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Representative examples</label>
            <textarea class="col-sm-4 form-control" v-model="verb.representativeExample"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">提示文作成者への<br />注意事項</label>
            <textarea class="col-sm-4 form-control" v-model="verb.noteForExampleAuthor"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">使い方メモ<br />(本の備考欄用)</label>
            <textarea class="col-sm-4 form-control" v-model="verb.generalNotes"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Full sentence definition</label>
            <div class="col-sm-4">{{fsd}}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">本の備考欄</label>
            <div class="col-sm-4">{{verb.noteForReferenceBook}}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">メッセージ</label>
            <message-view class="col-sm-4" :verb="verb" :editable="true"></message-view>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label>提示文作成者</label>
                <select class="form-control" v-model="verb.jpAssigneeId">
                    <option v-for="member in jpMembers" :value="member.userId" v-bind:key="member.userId">{{member.displayName}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>提示文作成確認者</label>
                <select class="form-control" v-model="verb.jpCheckerId">
                    <option v-for="member in jpManagers" :value="member.userId" v-bind:key="member.userId">{{member.displayName}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>英語文改善者</label>
                <select class="form-control" v-model="verb.enAssigneeId">
                    <option v-for="member in enMembers" :value="member.userId" v-bind:key="member.userId">{{member.displayName}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>英語文改善確認者</label>
                <select class="form-control" v-model="verb.enCheckerId">
                    <option v-for="member in enManagers" :value="member.userId" v-bind:key="member.userId">{{member.displayName}}</option>
                </select>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
import SettingsEditor from './SettingsEditor.ts'
export default SettingsEditor
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
.heading {
    margin-top: 10px;
    margin-bottom: 20px;
}

.stage {
    padding-right: 10px;
}

.input-combo {
    margin-left: 20px
}

input {
    width: 300px;
    margin-left: 0px;
}

select {
    width: 200px;
}

textarea {
    width: 400px;
}

.grouping {
    display: inline-block;
    width: 70%;
}

.font-size-100 {
    font-size: 100%;
}
</style>
