﻿<template>
    <div>
        <label class="col-sm-3 control-label">Stage</label>
        <select class="col-sm-2 form-control stage-select" v-model.number="$store.state.currentStage" :disabled="!$store.state.canChangeStage">
            <option v-for="stage in availableStages" v-bind:key="stage" :v-value="stage">{{stage}}</option>
        </select>
    </div>
</template>

<script lang="ts">
import StageSelector from './StageSelector.ts'
export default StageSelector
</script>

<style scoped>
.stage-select {
    width: 180px;
}
</style>
