<template>
  <form class="form-horizontal">
    <div class="stage">
      <stage-selector class="stage-selector" :verb="verb" />
      <button
        type="button"
        class="delete-button btn btn-warning stage-button"
        v-on:click.stop.prevent="changeStage()"
        :disabled="!CanChangeStage"
      >
        Save
      </button>&nbsp;
      <label v-if="CanChangeStage">
        {{`選択中の項目"${verb.value}"のステージを${verb.stage}から${$store.state.currentStage}に変更します。`}}
      </label>
    </div>
  </form>
</template>

<script lang="ts">
    import StagePanel from './StagePanel.ts'
    export default StagePanel
</script>

<style scoped>
.stage {
  margin: 20px;
}
.stage-button {
  margin-left: 20px;
}
</style>
