﻿<template>
    <form class="form-horizontal">
        <div>
            <div class="form-group heading">
                <div class="col-sm-2">
                    <span class="label label-primary font-size-100">{{verb.value}}</span>
                    <span class="stage label label-info">{{verb.stage}}</span>
                </div>
                <div class="col-sm-3 structure">
                    <span class="label label-default font-size-100">{{verb.structure}}</span>
                </div>
                <div class="col-sm-3 form-group">
                    <turn-selector :verb="verb" v-model="currentTurn"></turn-selector>
                </div>
                <div class="col-sm-offset-3 col-sm-1">
                    <button class="btn btn-primary" :disabled="!$store.getters.canSave" v-on:click.stop.prevent="onSaveButtonClick()">Save</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Representative examples: </label>
                <div class="col-sm-6 control-text">{{verb.representativeExample}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">提示文作成者への注意事項: </label>
                <div class="col-sm-6 control-text">{{verb.noteForExampleAuthor}}</div>
            </div>
            <div class="form-group" v-if="verb.stage !== 10">
                <label class="col-sm-3 control-label">使い方メモ<br />(本の備考欄用): </label>
                <div class="col-sm-6 control-text">{{verb.generalNotes}}</div>
            </div>
            <div class="form-group" v-if="fsd">
                <label class="col-sm-3 control-label">Full sentence definition: </label>
                <div v-if="stage <= 3 || stage === 9" class="col-sm-9 control-text">{{fsd.value}}</div>
                <div v-else class="col-sm-9 control-text">
                    <textarea v-model="localFsdValue"></textarea>
                    <textarea v-if="verb.stage === 8" class="suggestion"
                        v-model="$store.state.suggestions.fullSentenceDefinition"
                        placeholder="Suggestion">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <div v-for="example in JpExamples" v-bind:key="example != null ? example.localId : -1" class="example-container">
                    <div class="example-box jp-example-box" v-if="example !== null" v-html="example.value"></div>
                    <div class="example-box jp-example-box no-example-selected" v-if="example === null">No example selected</div>
                    <textarea class="example-box" v-if="example !== null" v-model="example.value" :disabled="verb.stage === 9"></textarea>
                    <textarea class="example-box no-example-selected" v-if="example === null" disabled="disabled">No example selected</textarea>
                </div>
            </div>
            <div class="col-sm-6" v-if="verb.stage > 3"> <!-- English translations -->
                <div
                    v-for="(example, index) in EnExamples"
                    v-bind:key="example != null ? example.localId : -1"
                    class="example-container"
                >
                    <textarea
                        class="example-box"
                        v-if="example !== null"
                        v-model="example.value"
                        :disabled="verb.stage === 9"
                    >
                    </textarea>
                    <div v-else>
                        <textarea
                            class="example-box no-example-selected"
                            v-if="verb.stage >= 7"
                            disabled="disabled"
                        >
                            No example selected
                        </textarea>
                        <textarea
                            class="example-box"
                            v-else
                            v-model="example.value"
                        >
                        </textarea>
                    </div>
                    <div
                        class="example-box suggestion-box"
                        v-if="verb.stage !== 8"
                    >
                        {{$store.state.suggestions.translations[index]}}
                    </div>
                    <textarea
                        v-else
                        class="example-box suggestion"
                        v-model="$store.state.suggestions.translations[index]"
                        placeholder="Suggestion">
                    </textarea>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="col-sm-3 control-label">本の備考欄: </label>
                <div v-if="stage <= 3 || stage === 9" class="col-sm-9 control-text">{{verb.noteForReferenceBook}}</div>
                <div v-else class="col-sm-9">
                    <textarea v-model="verb.noteForReferenceBook"></textarea>
                    <textarea v-if="verb.stage === 8" class="suggestion"
                        v-model="$store.state.suggestions.noteForReferenceBook"
                        placeholder="Suggestion">
                    </textarea>
                </div>
            </div>
            <div class="form-group" v-if="verb.stage !== 10">
                <label class="col-sm-3 control-label">メッセージ</label>
                <message-view class="col-sm-9" :verb="verb" :editable="true"></message-view>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
import SummaryView from './SummaryView.ts'
export default SummaryView
</script>

<style scoped>
.turn-selector {
    width: 180px;
}

.invisible {
    visibility: hidden;
}

.heading {
    margin-top: 10px;
}

.example-container {
    margin-bottom: 5px;
}

.example-box {
    height: 80px;
    padding: 5px;
}

div.example-box {
    border: 1px solid rgb(169, 169, 169);
}

div.jp-example-box {
    border-bottom: none;
}

div.suggestion-box {
    border-top: none;
}

textarea {
    resize: none;
    width: 100%;
    max-width: none;
    display: block; /* removes bottom margin */
}

.suggestion {
    border-top: none;
}

select {
    width: 150px;
}

.font-size-100 {
    font-size: 100%;
    /* overriding 75% in label */
}

.no-example-selected {
    font-style: italic;
    color: crimson;
}
</style>
