﻿<template>
    <div>
        <label class="col-sm-3 control-label">Turn: </label>
        <select class="form-control turn-selector" v-model="currentTurn">
            <option v-for="option in availableTurns" :value="option.userId" v-bind:key="option.userId">{{option.displayName}}</option>
        </select>
    </div>
</template>

<script lang="ts">
import TurnSelector from './TurnSelector.ts'
export default TurnSelector
</script>

<style scoped>
.turn-selector {
    width: 180px;
}
</style>
