<template>
    <div class="container" id="app">
        <form method="post" enctype="multipart/form-data" @submit.prevent="uploadExcelFile">
            <div class="form-group">
                <div class="col-md-10">
                    <label class="control-label">Upload an Excel file:</label>
                    <input class="btn" type="file" name="files" id="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-default" type="submit" value="Upload" />
                </div>
            </div>
        </form>
        <hr />
        <form method="post"  enctype="multipart/form-data" @submit.prevent="combineExcelFiles"><!-- Conbine Excel data files -->
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Example sentence file:</label>
                    <input type="file" name="datafiles" id="exampleSentenceFile" />
                </div>
                <div class="col-md-3">
                    <label class="control-label">Main data file:</label>
                    <input type="file" name="datafiles" id="mainDataFile" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-default" type="submit" value="Combine Data Files" />
                </div>
            </div>
        </form>
        <hr />
        <button class="btn btn-default" @click="exportExcel">Export</button>
        <button class="btn btn-default" @click="exportExcelFull">Export Full</button>
        <div>
            <router-link to="/" tag="a"><label class="control-label">Back to App</label></router-link>
        </div>
    </div>
</template>

<script lang="ts">
import UploadExcelFile from './UploadExcelFile.ts'
export default UploadExcelFile
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 10px;
    padding: 0 20px;
}

.login-form {
    width: 300px;
    margin: 0 auto;
}
</style>
