<template>
    <div class="verbs">
        <div class="tool-bar">
            <button class="btn btn-primary addEntry" @click="showAddEntry = true">Add entry</button>
            <modal title="Add New Verb" v-model="showAddEntry" ok-text="Add">
                <label>Verb:
                    <input v-model="newVerbText" />
                </label>
                <div slot="modal-footer" class="modal-footer">
                    <button type="button" class="btn btn-default" @click="showAddEntry = false">Cancel</button>
                    <button type="button" class="btn btn-primary" :disabled="!newVerbText.trim()" @click="showAddEntry = false; addNewEntry(newVerbText)">Add</button>
                </div>
            </modal>
            <label>Mode:&nbsp;</label>
            <div class="btn-group">
                <label class="btn btn-default" v-bind:class="{ active: $store.state.mode === 'normal'}">
                    <input type="radio" name="mode" id="normal" value="normal" autocomplete="off" @change="changeMode('normal')" />Normal
                </label>
                <label class="btn btn-default" v-bind:class="{ active: $store.state.mode === 'stage2'}">
                    <input type="radio" name="mode" id="stage-2" value="stage2" autocomplete="off" @change="changeMode('stage2')" />Stage 2
                </label>
                <label class="btn btn-default" v-bind:class="{ active: $store.state.mode === 'stage6'}">
                    <input type="radio" name="mode" id="stage-6" value="stage6" autocomplete="off" @change="changeMode('stage6')" />Stage 6
                </label>
            </div>
            <div class="page-buttons">
                <button @click="goToPrevPage()" v-bind:disabled="!$store.state.canGoToPrevPage">
                    <i class="glyphicon glyphicon-triangle-left menu-icon" aria-hidden="true"></i>
                </button>
                <button @click="goToNextPage()" v-bind:disabled="!$store.state.canGoToNextPage">
                    <i class="glyphicon glyphicon-triangle-right menu-icon" aria-hidden="true"></i>
                </button>
            </div>
            <div class="input-group search-control">
                <div class="btn-group has-feedback has-clear search-control">
                    <input type="search" class="form-control" placeholder="Search for..." v-model="word">
                    <a id="searchclear" class="glyphicon glyphicon-remove-circle form-control-feedback form-control-clear" style="pointer-events:auto; text-decoration:none; cursor:pointer;" @click="word=''; search(word); return false;">
                    </a>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="search(word)">Search</button>
                    </span>
                </div>
            </div>
            <div class="input-group download-buttons">
                <button class="btn btn-default" @click="exportExcel">Download</button>
                <button class="btn btn-default" @click="exportExcelFull">Full Download</button>
            </div>
        </div>
        <div class="filter-bar">
            <div class="col-sm-2">
                <i class="glyphicon glyphicon-filter menu-icon" aria-hidden="true"></i>
                <label class="control-label">Filter by:</label>
            </div>
            <div class="col-sm-1">
                <label class="control-label">Stage</label>
                <select class="form-control" style="width: 90px" v-model="filterStage">
                    <option value="0">Off</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label>Turn</label>
                <select class="form-control" v-model="filterTurn">
                    <option v-for="option in turnOptions" :value="option.userId" v-bind:key="option.userId">{{option.displayName}}</option>
                </select>
            </div>
        </div>
        <div class="verb-list">
            <div v-if="verbs && verbs.length === 0 &&
                ($store.state.mode === 'stage2' || $store.state.mode === 'stage6' || $store.state.mode === 'stage8')">
                <div class="no-entries">There are no entries in this stage.</div>
            </div>
            <div v-for="(verb, index) in verbs" v-bind:key="verb.id" class="verb-container">
                <div class="row verb-row">
                    <div
                        class="col-md-11"
                        v-bind:class="{ 'verb-editable': isEditable(verb) }"
                        @click="onEntryClicked(verb)"
                    >
                        <div>
                            <span class="verb-text">{{verb.value}}</span>
                            <span class="stage label label-info">{{verb.stage}}</span>
                            [{{verb.structure}}] {{verb.fullSentenceDefinition}}</div>
                        <div class="rep-ex">{{verb.representativeExample}}</div>
                    </div>
                    <div class="col-md-1">
                        <message-popover :verb="verb"></message-popover>
                    </div>
                </div>
                <jp-assignee-selector v-if="$store.state.mode === 'stage2' && verb.stage === 2" :verb="Object.assign({}, verb)" :jpMembers="$store.state.jpMembers" :jpManagers="$store.state.jpManagers">
                </jp-assignee-selector>
                <en-assignee-selector v-if="$store.state.mode === 'stage6' && verb.stage === 6" :verb="Object.assign({}, verb)" :enMembers="$store.state.enMembers" :enManagers="$store.state.enManagers">
                </en-assignee-selector>
                <reference-book-note-assignee-selector v-if="$store.state.mode === 'stage8' && verb.stage === 8" :verb="Object.assign({}, verb)" :managers="$store.state.managers">
                </reference-book-note-assignee-selector>
                <modal v-if="verb.selected" title="Edit entry" width="80%" :backdrop="false" v-model="verb.selected">
                    <verb-entry-editor :verb="verb" :index="index" :jpMembers="$store.state.jpMembers" :enMembers="$store.state.enMembers" :jpManagers="$store.state.jpManagers" :enManagers="$store.state.enManagers" v-if="verb.selected">
                    </verb-entry-editor>
                    <div slot="modal-footer" class="modal-footer">
                        <button type="button" class="btn btn-default" @click="verb.selected = false">Close</button>
                    </div>
                </modal>
            </div>
        </div>
        <spinner ref="loadingSpinner" global size="lg" fixed :text="spinnerText"></spinner>
    </div>
</template>

<script lang="ts">
import VerbList from './VerbList.ts'
export default VerbList
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.no-entries {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #031059;
}

.verb-list {
    clear: both;
    margin-top: 20px;
    border-top: 1px solid silver;
}

.verb-container {
    padding: 5px;
}

.tool-bar {
    margin-bottom: 10px;
}

.filter-bar {
    overflow: hidden; # for height calculation
    margin-bottom: 10px;
}

.addEntry {
    margin-right: 10px;
}

.verb-text {
    font-weight: bold;
}

.stage {
    color: white;
}

.rep-ex {
    color: saddlebrown;
    padding-left: 100px;
}

.verb-editable {
    cursor: pointer;
}

.verb-row:hover {
    background-color: powderblue;
}

.page-buttons {
    display: inline-block;
}

.search-control {
    display: inline-flex;
}

#searchclear {
    text-align: left;
}

.download-buttons {
    display: inline-block;
    float: right;
}
</style>
