<template>
    <div class="flex">
        <vue-tabs>
            <v-tab title="Settings" v-if="isUserAdmin">
                <settings-editor :verb="verb"
                    :jpMembers="jpMembers" :jpManagers="jpManagers"
                    :enMembers="enMembers" :enManagers="enManagers"
                />
            </v-tab>
            <v-tab title="Modification" v-if="stage===1">
                <entry-editor :verb="verb" :index="index" :jpExamples="$store.state.jpExamples" />
            </v-tab>
            <v-tab title="提示文#1 (CM full)" v-if="stage===3">
                <jp-example-view :verb="verb" :index="index" :localId="0"></jp-example-view>
            </v-tab>
            <v-tab title="提示文#2 (CM full)" v-if="stage===3">
                <jp-example-view :verb="verb" :index="index" :localId="1"></jp-example-view>
            </v-tab>
            <v-tab title="提示文#3 (CM partial)" v-if="stage===3">
                <jp-example-view :verb="verb" :index="index" :localId="2"></jp-example-view>
            </v-tab>
            <v-tab title="提示文#4 (CM partial)" v-if="stage===3">
                <jp-example-view :verb="verb" :index="index" :localId="3"></jp-example-view>
            </v-tab>
            <v-tab title="Summary - Stage 3" v-if="stage===3 && isUserAdmin">
                <summary-view :verb="verb" :index="index"></summary-view>
            </v-tab>
            <v-tab title="Summary - Stage 4" v-if="stage===4 && isUserAdmin">
                <summary-view :verb="verb" :index="index"></summary-view>
            </v-tab>
            <v-tab title="Summary - Stage 5" v-if="stage===5 && isUserAdmin">
                <summary-view :verb="verb" :index="index"></summary-view>
            </v-tab>
            <v-tab title="英訳#1" v-if="stage===7">
                <en-example-view :verb="verb" :index="index" :localId="0"></en-example-view>
            </v-tab>
            <v-tab title="英訳#2" v-if="stage===7">
                <en-example-view :verb="verb" :index="index" :localId="1"></en-example-view>
            </v-tab>
            <v-tab title="英訳#3" v-if="stage===7">
                <en-example-view :verb="verb" :index="index" :localId="2"></en-example-view>
            </v-tab>
            <v-tab title="英訳#4" v-if="stage===7">
                <en-example-view :verb="verb" :index="index" :localId="3"></en-example-view>
            </v-tab>
            <v-tab title="Full Sentence Definition" v-if="stage===7 && isUserAdmin">
                <full-sentence-definition-view :index="index" :verb="verb"></full-sentence-definition-view>
            </v-tab>
            <v-tab title="Summary - Stage 7" v-if="stage===7 && isUserAdmin">
                <summary-view :verb="verb" :index="index"
                    :jpMembers="jpMembers" :enMembers="enMembers" :jpManagers="jpManagers" :enManagers="enManagers"></summary-view>
            </v-tab>
            <v-tab title="Summary - Stage 8" v-if="stage===8 && isUserAdmin">
                <summary-view :verb="verb" :index="index"></summary-view>
            </v-tab>
            <v-tab title="Check List" v-if="stage===9 && isUserAdmin">
                <final-check-list :verb="verb"></final-check-list>
            </v-tab>
            <v-tab title="Summary - Stage 9" v-if="stage===9 && isUserAdmin">
                <summary-view :verb="verb" :index="index"></summary-view>
            </v-tab>
            <v-tab title="Completed" v-if="stage===10 && isUserAdmin">
                <completed-panel :verb="verb"></completed-panel>
            </v-tab>
            <v-tab title="Stage" v-if="isUserAdmin">
                <stage-panel :verb="verb" />
            </v-tab>
        </vue-tabs>
    </div>
</template>

<script lang="ts">
import VerbEntryEditor from './VerbEntryEditor.ts'
export default VerbEntryEditor
</script>

<style scoped>
.tab {
    padding: 20px;
}

input {
    width: 200px;
}

select {
    width: 200px;
}

.initial-settings {
    font-size: 14px;
}

.shyButton {
    font-size: .75em;
}
</style>
