<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import App from './App.ts'
export default App
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.form-horizontal .control-text {
    padding-top: 7px;
    margin-bottom: 0;
}
</style>
